.btnMarket {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    margin-top: 12px;
    background-color: #009f16;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: large;
  }

  .btnMarket[disabled]{
    background-color: gray;
  }

  @media only screen and (max-width: 800px){
    .btnMarket{
      width: 20vw;
      font-size: 2.5vw;
    }
  }