.card {
  width: 240px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #0f0f0fd0;
  color: white;
  cursor: pointer;
}

.cardImage {
  background-image: url("/imageCoverBackground.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px 12px 0 0;
  object-fit: scale-down;
  text-align: center;
  transition: background-color 0.3s;
}

.cardImage:hover {
  background-color: #494949;
}

.cardImageCover {
  width: 15vw;
  object-fit: scale-down;
  transition: transform 0.2s;
}

.cardImageCover:hover {
  transform: rotate(5deg);
}

.cardContent {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.skinName {
  height: 80%;
  min-height: 10vh;
}

.skinsInformations {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.priceSkin {
  display: flex;
  width: 100%;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  font-size: 20px;
  color: #009f16;
}

@media screen and (min-width: 1600px) {
  .card {
    width: 15vw;
  }
}
