@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

.containerTop {
  display: flex;
  background-image: linear-gradient(
      to bottom,
      transparent 75%,
      rgba(24, 24, 24)
    ),
    url("div1.webp");
  background-size: cover;
  width: 100vw;
  height: 90vh;
  justify-content: flex-end;
}

.topText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  color: white;
}

.title {
  font-size: 70px;
  line-height: 90px;
  color: white;
}

.subTitle {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-family: "Shippori Antique B1", sans-serif;
  font-size: 25px;
  color: white;
}

.containerMid {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background-color: #ff4757; */
  margin-top: 5%;
}

.presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
}

.midText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.weapons {
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.weapons::-webkit-scrollbar {
  width: 12px;
}

.weapons::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.weapons::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(65, 61, 61, 0.5);
}

.weapons:after {
  float: right;
}

.degrade {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 98%;
  background: linear-gradient(to right, transparent 90%, #181818);
}

.containerCards {
  padding: 10px;
}

.card {
  width: 300px;
  height: 350px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #252525;
  color: white;
}

.cardImage {
  background-color: #2b2b2b;
  border-radius: 12px 12px 0 0;
  background-size: cover;
}

.cardImageCover {
  background-size: cover;
}

.cardContent {
  padding: 8px;
}

.containerParallax {
  display: flex;
  background-image: url("hyper.webp");
  background-size: cover;
  width: 100vw;
  height: 60vh;
  justify-content: flex-end;
  background-attachment: fixed;
  align-items: center;
  color: #fff;
}

.titleParallax {
  font-size: 90px;
  text-align: end;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.containerBottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10vh;
}

.containerBottomRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#flip {
  height: 50px;
  overflow: hidden;
  font-size: 27px;
}

#flip > div > div {
  color: #fff;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 6s linear infinite;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.imageEffect {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 50vh;
}
.container__image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 45vh;
  background-image: url(m4a4.webp);
  background-size: contain;
  background-repeat: no-repeat;
  transition: ease-in-out 0.3s;
  z-index: 2;
}
.container__image:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: inherit;
  background-position: bottom;
  filter: blur(40px) saturate(0%);
  transform: scaleX(0.4);
  transition: ease-in-out 0.4s;
  transform-origin: right;
  opacity: 0;
  z-index: -1;
}
.container__image .container__info {
  position: relative;
  line-height: 1.8;
  transition: ease-in-out 0.3s;
  opacity: 0;
}
.container__image .container__moreInfo {
  transition-delay: 0.15s;
}
.container__image:hover {
  border-radius: 0;
  height: 50vh;
}
.container__image:hover:before {
  width: 100%;
  opacity: 0.18;
  filter: blur(10px) saturate(100%);
  transform: scale(0.9) translate3d(10%, 0px, 0px);
}
.container__image:hover .container__info {
  transform: translate3d(0px, 200%, 0px);
  opacity: 1;
}
.price {
  border-bottom: 1px solid transparent;
  color: #06c0a8;
  text-decoration: none;
  transition: ease-in 0.13s;
}
.price:hover {
  background-color: #06c0a8;
  color: #fff;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #009f16;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #009f16;
  cursor: pointer;
}
